    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-loadbalancer-ansible_student_master_seed
    REGISTRY labattt2025
NETWORK NETWORKING
     MASK 172.10.0.0/24
     GATEWAY 172.10.0.1
CONTAINER webserver02
     USER ubuntu
     X11 YES
     NETWORKING 172.10.0.12
CONTAINER webserver01
     USER ubuntu
     X11 YES
     NETWORKING 172.10.0.11
CONTAINER haproxy
     USER ubuntu
     X11 YES
     NETWORKING 172.10.0.10
