    GLOBAL_SETTINGS
    LAB_MASTER_SEED crontab_student_master_seed
    REGISTRY toantc3101
NETWORK NETWORK010
     MASK 192.20.0.0/24
     GATEWAY 192.20.0.1
CONTAINER victim
     USER normaluser
     X11 YES
     TERMINALS -1
     NETWORK010 192.20.0.10
CONTAINER attacker
     USER ubuntu
     X11 YES
     NETWORK010 192.20.0.20
