    GLOBAL_SETTINGS
    GRADE_CONTAINER client
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED telnetlab_jean_seed
    REGISTRY labattt2025
NETWORK SOME_NETWORK
     MASK 172.40.0.0/24
     GATEWAY 172.40.0.40
CONTAINER client
     USER ubuntu
     X11 NO
     SOME_NETWORK 172.40.0.2
CONTAINER server
     USER ubuntu
     X11 NO
     SOME_NETWORK 172.40.0.3
CONTAINER client1
     USER ubuntu
     X11 NO
     SOME_NETWORK 172.40.0.1
